*{
    margin: 0px;
    
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    
}
.back{
    transform: translateZ(-10px) scale(2);
}
.fornt{
    transform: translateZ(-5px) scale(1.5);
}
.back,.fornt{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    
    
}
h1{
    position: absolute;
    top: 5rem;
    font-size: 10rem;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
section{
    background-color: rgba(45, 45, 45);
    color: white;
    padding: 5rem 0;
}
.sech{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
position: relative;
width: 100vw;
height:500px;
background-attachment: fixed;
background-size: cover;
background-position: center;
}
.bg1{
    background-image: url(bike.jpg);
}
.bg2{
    background-image: url(para.jpg);
}
.bg3{
    background-image: url(surf.jpg);
}
.sec{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    color: black;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3.5rem;
    font-weight: 600;
}
